<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Usuario</ion-label>
        <ion-input [(ngModel)]="user.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>
    </ion-list>

    <p>
      <button ion-button color="primary" block (click)="login()">Login</button>
    </p>
    <p>
      <button ion-button color="info" block (click)="register()">Create Account</button>
    </p>
    <p> Location test: {{ user.lat }} , {{user.lng}}</p>
  </ion-content>

</ion-content>
