<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Register</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
  
    <ion-item *ngIf="pass">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item *ngIf="pass">
      <ion-label floating>Password one more time</ion-label>
      <ion-input type="password" [(ngModel)]="user.password2"></ion-input>
    </ion-item>
  
    <ion-item>
      <h2>Picture</h2>
      <button ion-button icon-left large (click)="cameraUse()">
        <ion-icon name="camera"></ion-icon>Take picture</button>
    </ion-item>
  
    <ion-item>
      <h2>Show image</h2>
      <div>
        <img [src]="user.image" alt="">
      </div>
    </ion-item>
  
    <ion-item>
      <button ion-button block (click)="register(user)">Register</button>
    </ion-item>
  </ion-list>
</ion-content>
