<ion-tabs>
  <ion-tab [root]="infoRoot"      tabTitle="Info"       [rootParams]="event" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="locationRoot"  tabTitle="Location"   [rootParams]="event" tabIcon="ios-navigate"></ion-tab>
  <ion-tab [root]="attendRoot"    tabTitle="Attend"     [rootParams]="event" tabIcon="ios-contacts"></ion-tab>
</ion-tabs>