<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile of {{ user.name }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="content">
      <ion-segment-button value="map">
        <ion-icon name="ios-navigate"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="attend">
        <ion-icon name="people"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="created">
        <ion-icon name="ios-filing"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="content">
    <ion-card *ngSwitchCase="'info'">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="domSanitizer.bypassSecurityTrustUrl(user.image)">
          </ion-avatar>
          <h2>{{user.name}}</h2>
          <p>{{user.email}}</p>
        </ion-item>
        <button *ngIf="itsMe" ion-button full outline (tap)="goEdit()">Edit</button>
      </ion-card>

    <div *ngSwitchCase="'map'">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng">
        </agm-marker>
      </agm-map>
    </div>

    <div *ngSwitchCase="'attend'">
      <ion-list>
        <ion-item *ngFor="let at of eventAt">
          <ion-avatar item-start>
            <img [src]="domSanitizer.bypassSecurityTrustUrl(at.eventData.image)">
          </ion-avatar>
          <h2>{{at.eventData.title}}</h2>
          <p>{{at.eventData.address}}</p>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'created'">
      <ion-list>
        <ion-item *ngFor="let cr of eventCre">
          <ion-avatar item-start>
            <img [src]="domSanitizer.bypassSecurityTrustUrl(cr.image)">
          </ion-avatar>
          <h2>{{cr.title}}</h2>
          <p>{{cr.address}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
