<!--
 Generated template for the InfoPage page.

 See http://ionicframework.com/docs/components/#navigation for more info on
 Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Attend</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-card-header>
      Title :
      <br>{{ event.title }}
    </ion-card-header>

    <ion-card-content>
      <img [src]="domSanitizer.bypassSecurityTrustUrl(event.image)">
      <br> Description :
      <br> {{event.description }}
      <ion-row>
        <ion-col center text-center>
          <ion-note>
            Price : {{event.price|currency:'EUR' }}
          </ion-note>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            Date : {{event.date|date }}
          </ion-note>
        </ion-col>
        <ion-col center text-center>
          <ion-note (tap)="profile(event.creatorData)">
            Creator : {{event.creatorData.name}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
<button ion-button full (tap)=navCtrl.parent.parent.pop()>Go Back</button>
  </ion-card>
</ion-content>