<!--
  Generated template for the AttendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Attend</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item> Users Attend </ion-item>
    <ion-item *ngFor="let user of users">
      <ion-avatar item-start>
        <img (tap)="profile(user.userData)" [src]="user.userData.image"> 
      </ion-avatar>
      <h2>{{user.userData.name}}</h2>
      <p>{{ user.userData.email }}</p>
    </ion-item>
  </ion-list>
  <button ion-button full (tap)=navCtrl.parent.parent.pop()>Go Back</button>
</ion-content>


