<!--
  Generated template for the EventListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Event List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let event of events">
    <img (tap)="eventDetail(event)" [src]="domSanitizer.bypassSecurityTrustUrl(event.image)">
    <ion-card-content>
      <ion-item>
        <ion-avatar item-start>
          <img (tap)="profile(event.creatorData)" [src]="domSanitizer.bypassSecurityTrustUrl(event.creatorData.image)">
        </ion-avatar>
        <h2>{{event.creatorData.name}}</h2>
      </ion-item>
      <ion-card-title>
        {{event.title }}
      </ion-card-title>
      <p>
        {{event.description }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
